@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1.35;
  font-family: Work Sans;
}
